<app-header></app-header>
<div class="container my-3 wrap">
<!--<h1>
  {{ title }}
</h1>
<ul>
  Usamos doble llaves para interpolar las variables, interpolar es para que se imprima la variable, en la salida, en la respuesta en el navegador. simplemente hacemos referencia al nombre del atributo, este caso curso y luego profesor. entonces siempre las variables que vamos a imprimir es con doble llave
  <li>{{curso}}</li>
  <li>Profesor: {{profesor}}</li>
</ul>-->
<!--<app-directiva></app-directiva>
<app-clientes></app-clientes>-->

<!--Directiva especial para cargar las rutas router-outlet simplemente es una directiva de angular, utilizada para indicar donde se van a renderizar y mostrar el contenido de cada ruta, de cada ruta que seleccionemos-->
<router-outlet></router-outlet>

</div>
<app-footer></app-footer>